.App {
  text-align:center;
}
.box1{
  margin: auto;
  width: 50%;
  border: 2px solid gray;
  border-radius: 5px;
  
}
.box2{
 margin:auto;
 margin-top: 50px;
 width:max-content;
 text-align:justify;
}

.column {
  float: left;
  width: auto;
  padding: 10px;
}
img{
  width: 200px;
  height: 200px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
input{
  margin-top: 10px;
  width: 90%;
  margin-left: 0px;
  height:28px;
}
button{ 
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  background-Color: #215e55;
  width: 92% ;
   height:30px;
   border: 1px solid black;
   margin-bottom: 20px;
}
